* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


.Link {
    text-decoration: none;
    color: #5f5f5f;
}


/* .container {
    
} */

.container {
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f0f2f5;
    color: #5f5f5f;
}